#quickbook_redirect_uri{
	pointer-events: none;
	cursor: not-allowed;
}

#SalesTaxRate0{
	pointer-events: none;
	cursor: not-allowed;
}

#ExpensestaxRate0{
	pointer-events: none;
	cursor: not-allowed;
}